@media only screen and (min-width: 481px) and (max-width:770px) {
  body {
    width: 770px;
    margin: auto;
    background: url("https://images.unsplash.com/photo-1603847734787-9e8a3f3e9d60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  }

  div {
    margin: auto;
    display: block;
  }
  
  
  #a { 
    width: 768px;
    height: 73px;
    line-height: 73px;
    background-color: red;
  }
  
  #b { 
    width: 768px;
    height: 148px;
    line-height: 148px;
    background-color: yellow;
  }
  
  #c, #d { 
    width: 768px;
    height: 123px;
    line-height: 123px;
  }
  
  #c {
    background-color: pink;
  }
  
  #d {
    background-color: orange;
  }
  
  #e, #f { 
    width: 383px;
    height: 246px;
    line-height: 246px;
  
  }
  
  #g, #h { 
    width: 383px;
    height: 246px;
    line-height: 246px;
  }
  
  
  #e {
    background-color: gold;
  }
  
  #f {
    background-color: fuchsia;
  }
  
  #g {
    background-color: #A80303;
  }
  
  #h {
    background-color: rgb(42, 168, 3) ;
  }
  
  #i {
    background-color: rgb(162, 52, 101) ;
  }
  
  
  /* ---- */
  #e {
    grid-area: top-left;
  }
  #f {
    grid-area: top-right;
  }
  #g {
    grid-area: g;
  }
  #h {
    grid-area: h;
  }
  
  .squareBoxes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;  
    grid-template-areas: 
      "top-left top-right"
      "g h";
  }
  /* ----- */
  
  
  
  #i {
    width:768px;
    height: 73px;
    /* background-color: ; */
  }
  
  /* .sideBySide {
    max-height: 480px;
    max-height: 250px;
  } */
  
  .letters {
    text-align: center;
    border: 1px dotted magenta;
  }
  
  }